*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#myForm{
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    background: #f4f4f4;
    border-radius: 10px;
}

#username{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#password{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}

body{
    font-family: Arial, sans-serif;
    background: #e0e0e0;
}

#confirm{
      width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}